@font-face {
  font-family: "Eightgon";
  font-style: normal;
  src: url(../fonts/Eightgon.woff2) format("woff2");
}

@font-face {
  font-family: "Rishgular";
  font-style: normal;
  src: url(../fonts/Rishgular.ttf) format("truetype");
}

@font-face {
  font-family: "Urbanivia";
  font-style: normal;
  src: url(../fonts/Urbanivia.woff) format("woff");
}

@font-face {
  font-family: "FortAvenue";
  font-style: normal;
  src: url(../fonts/FortAvenue.ttf) format("truetype");
}

@font-face {
  font-family: "SDGlitch";
  font-style: normal;
  src: url(../fonts/SDGlitch.ttf) format("truetype");
}

@font-face {
  font-family: "VT323";
  font-style: normal;
  src: url(../fonts/VT323.ttf) format("truetype");
}

@font-face {
  font-family: "Chicago";
  font-style: normal;
  src: url(../fonts/Chicago.ttf) format("truetype");
}


#loading-blockout { display: none; }
html { scroll-behavior: smooth; background: rgb(36, 38, 57); perspective: 1px;}
html.mobile { font-size: 1.5rem; }
html, body { color: #434242; font-family: 'Nunito', sans-serif; min-height: 100%; border:none;}
body {
  font-size: 2em; 
  line-height: 1.64;
  perspective: 2px;
  background-image: url("../img/devintro.webp");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position:top;
}

a.button {
    text-decoration: none;
}

.button {
    border-radius:5px;
    color:#DDD;
    display:inline-block;
    background-color:#22A39F;
    padding:3px 6px;
    margin:5px;
    cursor:pointer;
}

.button:hover {
    background-color:#20A19E;
    color:#FFF;
}

.disabled,
.disabled:hover,
.button:disabled {
    background-color:#09908D;
    color:#AAA;
    cursor:default;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { 
  font-family: 'Rubik', sans-serif; margin-bottom: 10px;
}
h4 { font-weight: 700; margin-bottom: 5px; font-size: 2em; color: #666; }
h1 { font-size: 3.5em; margin: 0px; }
h1,h2,h3 { font-weight: 300; color: #22A39F; }

html h2 { font-size: 3em; text-align: center; font-family: 'Eightgon'; margin-bottom: 5px; margin-top: 5px;}
html h3 { font-size: 2.5em; font-family: 'Eightgon'; margin-bottom: 5px; margin-top: 5px;}
html.mobile h2 { font-size: 3rem;}
html.mobile h3 { font-size: 2.1rem;}

html h4 { color: #444; font-family: 'Eightgon', sans-serif; font-size: 2.5rem;}

ul { padding-left: 20px;}

p { font-size: 1.8em;}
p.lead { text-align: center; color: #727878; font-size: 2.5em;}

p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 20px 0px; border-color: #303838; opacity: 0.2; filter:alpha(opacity=20); }

.project-referal { margin-top: 40px; }
.project-referal p { font-style: italic; color: #999999; }

.btn-primary { background-color: #22A39F; border-color: #1c8784; }
.btn-primary:hover { background-color: #1c8784;  border-color: #1c8784; }

.icon { display: inline-block; background: url(../img/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; }

.background-white { background: #FFFFFF; }
.background-gray { background: #434242; }
.background-tan { background: #F3EFE0; }
.container { max-width: 1280px; padding: 40px 180px; }

.crt::before {
  content: " " !important;
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 4px 100%;
  pointer-events: none;
}

.mobile .crt::before {
  background-size: 100% 6px, 4px 100%;
}

#top-menu .container {
  display: flex;
  flex: 1 1 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
  width: 100%;
  max-width: 100%;
  margin: auto 0px;
}

#top-menu span {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-shadow: 0px 0px 6px rgb(0, 160, 59);
  font-family: "FortAvenue", sans-serif;
}

#top-menu span.emphasis {
  font-weight: bold;
}

#top-menu .left {
  float: left;
}

#top-menu .right {
  float: right;
}

#top-menu a {
  margin: 0px 15px;
  color: rgb(209, 230, 251);
}

#top-menu a:hover {
  text-decoration: none;
  color: rgb(13, 116, 112);
}

@keyframes unblur-fade {
  from {scale:0.98; opacity: 0; filter: blur(3px);}
  to {scale:1; opacity: 1; filter: blur(.5px);}
}

@keyframes flicker {
  0% {text-color: cyan; text-shadow: 0px 1px 6px rgb(255, 174, 248);}
  60% {text-color: cyan; text-shadow: 0px -1px 3px rgb(226, 241, 255);}
  95% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}
  96% {text-color: blue; text-shadow: -5px 1px 2px rgb(226, 241, 255); font-style: italic;}
  96.5% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}
  98% {text-color: red; text-shadow: 5px -1px 2px rgb(226, 241, 255); font-style: normal;}
  99.5% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}
  100% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255);}
}

@keyframes flicker-mobile {
  0% {text-color: cyan; text-shadow: 0px 3px 10px rgb(255, 174, 248);}
  60% {text-color: cyan; text-shadow: 0px -3px 6px rgb(226, 241, 255);}
  94% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 6px rgb(226, 241, 255); font-style: normal;}
  95% {text-color: blue; text-shadow: -7px 2px 4px rgb(226, 241, 255); font-style: italic;}
  96% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}
  97% {text-color: red; text-shadow: 7px -2px 2px rgb(226, 241, 255); font-style: normal;}
  99% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 8px rgb(226, 241, 255); font-style: normal;}
  100% {text-color: rgb(226, 241, 255); text-shadow: 0px 0px 8px rgb(226, 241, 255);}
}

@keyframes letter-flicker {
  0% {content: "s" !important; text-color: cyan; text-shadow: -5px -5px 0px rgb(255, 174, 248);}
  .05% {content: "s";text-color: magenta; text-shadow: -1px -1px 4px rgb(226, 241, 255); font-style: normal; font-family: "FortAvenue", sans-serif;}
  0.1% {content: "s";text-color: magenta; text-shadow: -1px -1px 4px rgb(226, 241, 255); font-style: italic; font-family: "FortAvenue", sans-serif;}
  0.15% {content: "5"; text-color: cyan; text-shadow: 3px 3px 4px rgb(174, 255, 209); font-style: normal;}
  0.2% {content: "z"; text-color: magenta; text-shadow: -1px -1px 4px rgb(226, 241, 255); font-style: italic;}
  0.25% {content: "z" !important; text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}
  99.75% {content: "z" !important; text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}
  99.8% {content: "5"; text-color: magenta; text-shadow: 5px 5px 4px rgb(255, 174, 248); font-style: italic;}
  99.85% {content: "z"; text-color: cyan; text-shadow: 3px 3px 4px rgb(174, 255, 209); font-style: normal;}
  99.9% {content: "s";text-color: magenta; text-shadow: -1px -1px 4px rgb(226, 241, 255); font-style: italic; font-family: "FortAvenue", sans-serif;}
  99.95% {content: "s";text-color: magenta; text-shadow: -1px -1px 4px rgb(226, 241, 255); font-style: normal; font-family: "FortAvenue", sans-serif;}
  100% {content: "s" !important; text-color: rgb(226, 241, 255); text-shadow: 0px 0px 4px rgb(226, 241, 255); font-style: normal;}

}

@keyframes blur-reveal {
  from {backdrop-filter: blur(0px);}
  to {backdrop-filter: blur(3px);}
}

#title {
  background: linear-gradient(0deg, rgba(36, 38, 57, 1) 0%, rgba(0,0,0,0.4) 15%, rgba(0,0,0,0.4) 90%, rgba(0,0,0,.8) 100%);
  width: 100%;
  height: 55rem;
  display: block;

  animation-name: blur-reveal;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.mobile #title {
  height: 30rem;
}

#title h1 {
  opacity: 0;
  position: absolute;
  top: 8rem;
  color: transparent;
  width: 80%;
  text-align: center;
  font-size: 5.1rem;
  margin: 10%;
  font-family: 'FortAvenue', sans-serif;
  text-shadow: 0px 0px 2px rgb(226, 241, 255);
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(248, 248, 248, 1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.48) 25%, rgba(0, 255, 0, 0.48) 60%, rgba(0, 0, 255, 0.18));
  background-clip: text;
  background-size: 100% 4px, 40px 100%;
  animation-fill-mode: forwards;


  animation-name: unblur-fade;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

#title h1 span {
  animation-name: flicker;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.mobile #title h1 span {
  animation-name: flicker-mobile;
}

#title h1 span.s-flicker::after {
  animation-name: letter-flicker;
  animation-duration: 65s;
  animation-delay: 2.95s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  content:"s";
}

.mobile #title h1 {
  font-size: 3.5rem;
  top: 8rem;
  margin: 0%;
  width: 100%;
  text-shadow: 0px 0px 4px rgb(226, 241, 255);
  background-size: 100% 6px, 40px 100%;

}

#profile {
  background: rgb(36, 38, 57);
  padding: 10px 15%;
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
}

#profile.container {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px; 
  width: 100%;
  max-width: 100%;
}

.mobile #profile {
  padding-left: 1%;
  padding-right: 1%;
}

#profile .row {
  margin: auto;
}

#profile h3 {
  margin-top: 0px;
  font-family: 'VT323', sans-serif;
  line-height: 1;
  font-size: 3rem;
}

.mobile #profile h3 {
  position: absolute;
  top: -3rem;
  right: 0px;
  left: 0px;
  width: 150%;
  text-align: left;
}

#profile .content {
  color: rgb(0, 160, 59);
  text-shadow: 0px 0px 2px rgb(0, 160, 59);
  box-shadow: inset 0px -3px 10px rgb(0, 160, 59);

  font-size: 1.3rem;
  text-align: left;
  position: relative;
  border: 1px solid rgb(0, 160, 59);
  padding-top:15px;
  font-family: 'VT323', sans-serif;
  line-height: 1;
}

.mobile #profile .content {
  padding-top: 3rem;
}

#profile .row > div .image { width: 100%; width: 220px; height: 220px; display:inline-block;}
#profile .row > div .image.circular {
    border:10px solid #434242;
    border-radius: 110px;
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
}

#profile .profilepic.self {
  max-height: 200px;
  min-height: 150px;
  max-width: 200px;
  min-width: 150px;
  width: calc(88% - 16px);
  margin-top: -8px;
  border-radius: .5em;
  border: 1px solid rgb(0, 160, 59);
  box-shadow: 0px 0px 3px rgb(0, 160, 59);
  background-image: url('../img/headshot.jpg');
}

.profilepic {
  background-size: cover;
  background-position-x: center;
  margin: 0px auto;
  width: 100%;
  aspect-ratio: 1;
}

#profile p,
#profile h3 {
  padding-right: 10%;
  padding-left: 10%;
}

.mobile #profile p,
.mobile #profile h3 {
  padding-left: 0%;
  padding-right: 0%;
}

#profile .profilepic-blur,
#profile .profilepic-img {
  background-image: url('../img/headshot.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  aspect-ratio: 1;
}

#approach {
  width: 100%;
  padding: 0px;
  background: rgb(36, 38, 57);
  text-align: center;
  font-family: 'Chicago', sans-serif;
}

.container.windowed {
  background: rgb(225, 227, 241);
  width: 90%;
  margin:0px auto;
  box-shadow: 2px 2px 3px #888;
  border: 2px solid #AAA;
  
  padding: 0px;
}

.mobile #approach .container {
  width: 95%;
}

.container.windowed .header {
  margin:0px auto;
  height: 1.4rem;
  width: 100%;
  padding: 0 2%;
  background: rgb(225, 227, 241);
  border-bottom: 1px solid black;
  box-shadow: 0px 2px #CCC;
}

.container.container.windowed .header-line {
  content: " ";
  height: 0.35rem;
  width: 100%;
  background: rgb(225, 227, 241);
  border-bottom: 1px solid black;
}

#approach .content {
  padding: 0 5%;
}

#approach .content > .row > .divided {
  border-right: 1px solid rgb(137, 139, 146);
}

.mobile #approach .content > .row > .divided {
  border-right: none;
  border-bottom: 1px solid rgb(137, 139, 146);
  padding-bottom: 20px;
  padding-top: 20px
}

#approach p {
  font-size: 2rem;
}

#approach h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

#approach h3 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.mobile h4 {
  font-size: 2.1rem;
}


#testimonials {
  font-size: 1.5rem;
  margin: 0px;
  background: rgb(36, 38, 57);
  color: rgb(0, 160, 59);
  padding: 20px 10%;
}

#testimonials h2 {
  margin: 0px;
}

#testimonials .quote-container {
  padding: 5px;
  margin-bottom: 10px;
}

#testimonials .quote {
  text-align: left;
  padding: 10px;
  border: 1px solid green;
  text-shadow: 0px 0px 2px rgb(0, 160, 59);
  box-shadow: 0px 0px 1px gray;
  font-family: 'Eightgon', sans-serif;
  font-size: 1.8rem;
  position: relative;
}

.mobile #testimonials .quote {
  /*width: calc(100% - 10px);*/
}

#testimonials .ident {
  font-size: 1.6rem;
  margin: 5px auto;
  text-align: left;
}

#testimonials .ident .pic {
  display: inline-block;
  vertical-align: middle;
}

#testimonials .ident .name {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

#testimonials .profilepic {
  height: 9.8rem;
  width: 9.8rem;
  border: 1px solid rgb(0, 160, 59);
  box-shadow: 0px 0px 3px rgb(0, 160, 59);
  border-radius: .5rem;
  display: inline-block;
}

#testimonials .profilepic.bex {
  background-image: url('../img/headshot.jpg');
}

#contact {
  display: block;
  width: 100%;
  background-color: rgb(36, 38, 57);
  padding: 1%;
}

#contact .container {
  width: 50%;
  margin-bottom: 5%;
}

.mobile #contact .container {
  width: 90%;
}

#contact .row { color: #444; padding-bottom: 5px;}
#contact h4 { text-align:center; font-size: 2.25rem;}

#contact form {
  padding: 10px 20px;
  display: block;
}

#contact form label {
  color: #444;
}

#contact input,
#contact textarea {
  width: 100%;
}

.opl {
	position:absolute;
	top:100px;
	left:0px;
	z-index:99999;
}

.opl a {
	width:73px;
	height:56px;
	text-indent:-9999px;
	display:block;
	background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award.png') no-repeat;
}


@media screen and (max-width: 1200px) {
  .container {
    padding: 60px 20px;
    min-width: 280px;
    max-width: 1280px;
  }

  #profile .row * { text-align: left; }
}

/*---------------*/
/***** EFFECT *****/
/*---------------*/

@media not print {
    #print-only-span {
        display:none;
    }
    figure.effect {
        background: #21A29E;
        color: #FFF;
    }


    figure.effect img {
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, filter 0.35s, -webkit-filter 0.35s,  -webkit-transform 0.35s;
        transition: opacity 0.35s, filter 0.35s, -webkit-filter 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
            -webkit-filter: blur(0px);
            filter: blur(0px);
    }

    figure.effect:hover img {
        opacity: 0.2;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
            -webkit-filter: blur(2px);
            filter: blur(2px);
    }

    figure.effect figcaption {
        text-align: left;
    }

    figure.effect h3 {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.35s -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    figure.effect:hover h3 {
        opacity: 1;
    }

    figure.effect h3::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }

    figure.effect:hover h3::after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect p {
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }

    figure.effect:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}